*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;  
    font-size: 1em;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #d9cfcf;
}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.header h2{
    color: white;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.saveTeam{
    width: 20%;
    height: 20%;
    background-color: rgb(201, 17, 134);
    color: white;
    border: none;
    font-size: 0.8em;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.showTeams{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size: 1.6rem;
width: 100%;
}

.showTeams p{
    font-size: 0.8rem;
    margin: 1%;
    font-weight: bold;
    color: #ba0b9a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.teamContainer{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(240, 233, 233);
}

.title{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: blue;
    font-size: 1.2em;
}

.searchTitle{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: blue;
    font-size: 1.2em;
}



.players{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: rgb(240, 233, 233);
}

.card{
    width: 16%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-style: italic;
    background-color: rgb(184, 182, 182);
    margin: 1%;
    border-radius: 10px;
    border: 2px solid rgb(240, 224, 224);
    box-shadow: 10px 10px 5px rgb(215, 213, 213);
    padding: 1%;
    font-size: 0.9rem;
}


.card .playerPosition{
    color: blue;
    font-weight: bold;
}

.searchContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(240, 233, 233);
    overflow: auto;
}

.searchCard{
    width: 40%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(184, 182, 182);
    margin: 0.5%;
    border-radius: 10px;
    border: 2px solid rgb(240, 224, 224);
    box-shadow: 10px 10px 5px rgb(215, 213, 213);
    padding: 0.5%;
}

.searchCard select{
    width: 80%;
    height: 15%;
    border-radius: 5px;
    border: 0.7px solid rgb(240, 224, 224);
    box-shadow: 2px 2px 5px rgb(215, 213, 213);
   
}

.searchCard label{

    width: 20%;
    height: 12%;
    border-radius: 5px;
    text-align: center;
    font-size: 0.7rem;
    background-color: #d3cdcd;
}
.searchCard input{
    width: 80%;
    height: 10%;
    border-radius: 5px;
    border: 0.7px solid rgb(240, 224, 224);
    box-shadow: 1px 1px 1px rgb(195, 193, 193);
}

.searchCard button{
    width: 30%;
    height: 15%;
    border-radius: 5px;
    border: 0.7px solid rgb(240, 224, 224);
    box-shadow: 1px 1px 1px rgb(195, 193, 193);
    background-color: #409e40;
    font-size: 0.8rem;
    color: white;
}

.table{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: rgb(196, 188, 188);
    margin: 0.5%;
    border-radius: 10px;
    border: 2px solid rgb(240, 224, 224);
    box-shadow: 10px 10px 5px rgb(215, 213, 213);

}

.tableBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: rgb(184, 182, 182);
    overflow: auto;
}

.tableHeaders, .playerRow{
    background-color: red;
    color: azure;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 0.5%;
    /* padding-top: 0.5%; */
    font-size: 0.8rem;
    font-weight: bold;
    font-weight: 900;
    text-align: center;
}
.tableHeaders div{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.playerRow > div{
    width: 15%;
    font-size: 0.8rem;
    font-weight: 700;
    
}
.playerRow {
    background-color: #fff;
    color: black;
    height: 15%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.playerRow button{
    width: 70%;
    height: 40%;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

.selected{
    background-color: rgb(186, 58, 167);
    color: white;
}

.not-selected{
    background-color: #0f642e;
    color: black;
}


.PGcolor{
    background-color: rgb(241, 126, 76);
}

.SGcolor{
    background-color: rgb(216, 216, 160);
}

.SFcolor{
    background-color: rgb(160, 134, 134);
}

.PFcolor{
    background-color: rgb(142, 142, 201);
}

.Ccolor{
    background-color: rgb(118, 183, 118);
}