*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    font-size: 1em;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #d9cfcf;
}

.header{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.header h2{
    color: white;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.teamContainer{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(240, 224, 224);
}

.title{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: blue;
    font-size: 1.2em;
}
.searchTitle{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8%;
    color: blue;
    font-size: 1.2em;
}



.players{
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: rgb(240, 233, 233);
}

.card{
    width: 16%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(184, 182, 182);
    margin: 1%;
    border-radius: 10px;
    border: 2px solid rgb(240, 224, 224);
    box-shadow: 10px 10px 5px rgb(215, 213, 213);
    padding: 1%;
    font-size: 0.9rem;
}

.card .playerPosition{
    color: blue;
    font-weight: bold;
}

.searchContainer{
    width: 100%;
    height: 170vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(240, 224, 224);
    overflow: auto;
}

.searchCard{
    width: 40%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(184, 182, 182);
    margin: 0.5%;
    border-radius: 10px;
    border: 2px solid rgb(240, 224, 224);
    box-shadow: 10px 10px 5px rgb(215, 213, 213);
    padding: 0.5%;
}

.searchCard select{
    width: 80%;
    height: 15%;
    border-radius: 5px;
    border: 0.7px solid rgb(240, 224, 224);
    box-shadow: 2px 2px 5px rgb(215, 213, 213);
   
}

.searchCard label{

    width: 20%;
    height: 12%;
    border-radius: 5px;
    text-align: center;
    font-size: 0.7rem;
    background-color: #a78f8f;
}
.searchCard input{
    width: 80%;
    height: 10%;
    border-radius: 5px;
    border: 0.7px solid rgb(240, 224, 224);
    box-shadow: 1px 1px 1px rgb(195, 193, 193);
}

.searchCard button{
    width: 30%;
    height: 15%;
    border-radius: 5px;
    border: 0.7px solid rgb(240, 224, 224);
    box-shadow: 1px 1px 1px rgb(195, 193, 193);
    background-color: #409e40;
    font-size: 0.8rem;
}

.table{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: rgb(184, 182, 182);
    margin: 0.5%;
    border-radius: 10px;
    border: 2px solid rgb(240, 224, 224);
    box-shadow: 10px 10px 5px rgb(215, 213, 213);

}

.tableBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: rgb(184, 182, 182);
    overflow: auto;
}

.tableHeaders, .playerRow{
    background-color: red;
    color: azure;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 0.5%;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}
.tableHeaders>div{
    width: 15%;
}
.playerRow > div{
    width: 15%;
    
}
.playerRow{
    background-color: #fff;
    color: black;
    height: 15%;
    border: 1px solid black;
}

.playerRow button{
    width: 70%;
    height: 40%;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

/* .playerHeader{
    width: 15%;
};

.positionHeader{
    width: 15%;
};
.pointsHeader{
    width: 10%;
};
.FGHeader{
    width: 7%; 
};
.threePHeader{
    width: 7%;
};
.actionHeader{
    width: 30%;
} */